# OS
.DS_Store

# Node / PNPM / Yarn / NPM caches
node_modules/
.pnp/
.pnp.cjs
.yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js / Vercel
.next/
.vercel/
out/
.open-next/
.opennext/

# Builds
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Misc
.turbo/
coverage/
*.swp
*.swo
*.orig
